<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0) {%>
                <ul>
                    <% products.forEach((cartProduct)=> { %>
                        <li class="list-item">
                            <p><strong>Title: </strong><%=cartProduct.productId.title%>  <strong>Quantity: </strong><%=cartProduct.quantity%></p>
                            <form action="/cart-delete-product" method="POST">
                                <input type="hidden" name="productId" value="<%=cartProduct.productId._id%>">
                                <button class="btn">Delete</button>
                            </form>
                        </li>
                   <% })%>
                    <form action="/orders" method="POST">
                        <button class="btn">Order now!</button>
                    </form>
                </ul>
                <% } else { %>
                    <h1>No Products in Cart!</h1>
                    <% } %>
        </main>
        <%- include('../includes/end.ejs') %>