<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length > 0 ) {%>
                <% orders.forEach((order)=>{ %>
                    <h2>Order: #<%=order._id%></h2>
                    <% order.products.forEach((product)=>{ %>
                        <h3>Title: <%=product.product.title%></h3>
                        <h3>Quantity: <%=product.quantity%></h3>
                    <% }) %>
                <% }) %>
            <% } else {%>
                <h1>Nothing there!</h1>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>